<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellcome!</title>
   <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Landing Page</a></li>
                <li class="main-header__item"><a href="/admin/form">Form</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Wellcome</h1>
        <h3>To My New Landing page</h3>
    </main>
</body>
</html>