<form class="user-form" action="/users/add-user" method="POST">
    <div class="form-control">
        <label for="user">User Name</label>
        <input type="text" name="user" id="user">
    </div>
    <button class="btn" type="submit">Add User</button>
</form>