<header class="main-header">
    <nav class="main-header-nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Main</a></li>
            <li class="main-header__item"><a class="<%= path === '/users/add-user' ? 'active' : '' %>" href="/users/add-user">Add Users</a></li>
        </ul>
    </nav>
</header>